
@import url(bootstrap);


footer{
  color: red;
}


.card{
  /* height: 343px; */
  .card-body{
      .description{
        display: none;
      }
      
      .description.active{
        display: block;
      }
  }
  
}
